@{
    ViewData["Title"] = "تماس با ما";
}
@section SEO
{
    <meta name="keywords" content="Contact us, Contact page"/>
    <meta name="description" content="contact description"/>
}


<section id="one">
    <header class="major">
        <h2>
            تماس با من
        </h2>
    </header>
</section>

<section id="two">
    <div class="row">
        <table>
            <tr>
                <td>Email:</td>
                <td>Alimohammadzade7976@gmail.com</td>
            </tr>
            <tr>
                <td>Mobile:</td>
                <td>09383738757</td>
            </tr>
            <tr>
                <td>Github:</td>
                <td>github.com/Alimoh1372</td>
            </tr>
        </table>
    </div>
</section>