@{
    ViewData["Title"] = "تماس با ما";
}
@section SEO
{
    <meta name="keywords" content="Contact us, Contact page"/>
    <meta name="description" content="contact description"/>
}


<section id="one">
    <header class="major">
        <h2>
            تماس با من
        </h2>
    </header>
</section>

<section id="two">
    <div class="row">
        <table id="tbl">
            <tr>
                <td>Email:</td>
                <td id="email"></td>
            </tr>
            <tr>
                <td>Mobile:</td>
                <td id="mobile"></td>
            </tr>
            <tr>
                <td>Github:</td>
                <td id="mobile"></td>
            </tr>
        </table>
    </div>
</section>
@section Scripts
{
    <script>
        try {
        var result;
        var hosturl = location.protocol + "//" + location.host;
        window.onload=function() {
            var xhr = new XMLHttpRequest();
            xhr.open("get",myHost+"@Url.Action("GetContact")", true);
            xhr.responseType = "json";
            xhr.send(null);
            
            xhr.onload=function() {
                if (xhr.readyState == 4 && xhr.status<=300 || xhr.status==304) {
                    var resp = xhr.response;
                    console.log("response from controller:"+resp.toString());
                   
                    var table = document.getElementById("tbl");
                    table.rows[0].cells[1].innerHTML = resp.email;
                    table.rows[1].cells[1].innerHTML = resp.number;
                    table.rows[2].cells[1].innerHTML = resp.github;
                } 
            };
            xhr.onerror= function() {
                console.log("error message:"+xhr.status+"-"+xhr.statusText);
            }
           
            };
        } catch (e) {
            console.log("Error:"+e.message);
        }
    </script>
}
